<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="Get organized. Work smarter. Stay Motivated.">
	<meta name="author" content="">
	<title>TaskX: Get organized. Work smarter. Stay Motivated. </title>
	<link rel="shortcut icon" type="image/x-icon" href="img/TaskX_Logo1.png" />

	<link href="https://fonts.googleapis.com/css?family=Palanquin:500|Roboto:100,300,400" rel="stylesheet"
		type='text/css'>
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/splash.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
	<header class="down">
		<div class="grid cf">
			<a href="/" style="text-decoration: none; color: black;"><h1>Task<span>X</span></h1></a>
			<nav>
				<div class="desktop-nav">
					<a href="https://github.com/TaskX-SE/TaskX"><i class="fa fa-github"></i>Github</a>
				</div>
				<div id="schools-dropdown" class="mobile-nav">
					<a href="https://github.com/TaskX-SE/TaskX"><i class="fa fa-github"></i>Github</a>
				</div>
			</nav>
		</div>
	</header>
	<div id="page">
		<div id="hero">
			<div class="grid cf">
				<div class="col-1-3">
					<h2>Get organized. Work smarter. Stay Motivated.</h2>
					<h4>TaskX is a web-based application that aims to aid the students in planning their hectic schedules in an
						easy and simple manner on a daily basis. Sometimes students need motivation for study or for any other
						chores. To achieve the required motivation, they make use of Spotify, YouTube, etc. Basically they need
						different apps/platforms and need to brainstorm in finding the suitable content. In the proposed
						application, we aim to provide the functionalities of planning their schedule in terms of providing
						refreshing time, prioritizing the event and also finding the right motivational content to complete the task
						as early as possible.</h3>
						<ul>
							<a href="/auth/google">
								<div class="square-logo"><i class="fa fa-google"></i></div>
								<span>Click here to Login/Signup</span>
							</a>
						</ul>
				</div>
				<div class="col-2-3">
					<div id="screenshot"></div>
				</div>
			</div>
		</div>
		<div id="reasons">
			<div id="tutorials">
				<div class="tutorial">
					<div class="grid cf">
						<div class="tutorial-half tutorial-text left">
							<h5>Options</h5>
							<h2>Pick the Perfect Times</h2>
							<h4>Use the arrows to flip through all the possible configurations of your schedule.</h4>
						</div>
						<div class="tutorial-half">
							<img src="/img/pagination.gif" alt="a sample ">
						</div>
					</div>
				</div>
				<div class="tutorial">
					<div class="grid cf">
						<div class="tutorial-half tutorial-text center mobile">
							<h5>Filters</h5>
							<h2>Advanced Search to Find the Right Class</h2>
							<h4>A myriad of filters and toggles will narrow your search results to the perfect class for you! Only
								want 400 level Biology classes on Wednesday Afternoon? You got it!</h4>
						</div>
						<div class="tutorial-half">
							<img src="/img/advancedsearch.png" alt="a sample ">
						</div>
						<div class="tutorial-half tutorial-text right desktop">
							<h5>Filters</h5>
							<h2>No motivation to study?</h2>
							<h4>This section emphasises on personal productivity, motivation, and self-awareness. Get hundreds of study music, life-changing podcasts, inspirational videos </h4>
						</div>
					</div>
				</div>
			</div>
			<div id="mobile" class="reason">
				<div class="grid cf">
					<div class="col-1-2 reason-text">
						<h5>Mobile</h5>
						<h2>Modern, Social, Easy</h2>
						<h4>A mobile-friendly application means finding your perfect semester on any device! You can also arrange meeting thorugh Google Meet on your and team's convenient time</h4>
						<h3>Select the option below to begin</h3>
						<ul>
							<a href="/auth/google">
								<div class="square-logo" style="background-image: url(/img/TaskX_Logo4.png);"></div>
								<span>Login/Signup</span>
							</a>
						</ul>
					</div>
					<div class="col-1-2">
						<img src="/img/TaskX_Logo5.png" alt="iPhone with Semester.ly open">
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="grid cf">
			<div class="col-1-1">
				<ul>
					<li><a href="mailto:noreply.taskx@gmail.com">
							<i class="fa fa-google"></i>
							<span>Email us at noreply.taskx@gmail.com</span>
						</a></li>
				</ul>
			</div>
			<h6>COPYRIGHT © 2021 TaskX Group</h6>
		</div>
	</footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/splash.js"></script>
</body>

</html>