/*--main-slider--*/
.w3l-main-slider {
    padding-top: 30px;
  }
  
  .w3l-main-slider li {
    list-style: none;
  }
  
  .w3l-main-slider .banner-info-bg {
    max-width: 750px;
    margin-top: 100px;
    margin: 0 auto;
  }
  
  .w3l-main-slider .banner-info-bg h5 {
    font-size: 80px;
    line-height: 86px;
    color: #fff;
    margin: 16px 0 30px 0;
  }
  
  .w3l-main-slider .banner-info-bg h4.sub-font {
    font-size: 20px;
    line-height: 40px;
    color: #ffac41;
    text-transform: capitalize;
  }
  
  .w3l-main-slider .banner-slider {
    position: relative;
    z-index: 1;
  }
  
  .w3l-main-slider .slider-info a img {
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
  }
  
  .w3l-main-slider .banner-view {
    background: url(../carousel_Images/img1.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
  }
  
  .w3l-main-slider .banner-view::before {
    content: "";
    background: rgba(9, 6, 20, 0.53);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
  }
  
  .w3l-main-slider .banner-top1 {
    background: url(../carousel_Images/img2.jpg) no-repeat center;
    background-size: cover;
  }
  
  .w3l-main-slider .banner-top2 {
    background: url(../carousel_Images/img3.jpg) no-repeat center;
    background-size: cover;
  }
  
  .w3l-main-slider .banner-top3 {
    background: url(../carousel_Images/img4.jpg) no-repeat center;
    background-size: cover;
  }
  
  .w3l-main-slider .banner-info {
    max-width: 500px;
    padding: 0 60px;
  }
  
  .w3l-main-slider .banner-info h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  
  .w3l-main-slider .banner-info p {
    color: #fff;
    opacity: 0.8;
    margin: 10px 0 34px 0;
  }
  
  .w3l-main-slider .play-view1 h6 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-left: 20px;
    display: inline-block;
  }
  
  .w3l-main-slider .play-view1 span.video-play-icon {
    background: #fff;
    color: #df0e62;
    display: inline-block;
    padding-left: 1px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    text-align: center;
    border: 2px solid #fff;
    font-size: 16px;
  }
  
  .w3l-main-slider .play-view1 span.video-play-icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: #df0e62;
    border: 2px solid #df0e62;
    color: #fff;
  }
  
  .w3l-main-slider .play-view1:hover {
    color: #df0e62;
    transition: 0.3s ease-in-out;
  }
  
  
  @media (max-width: 992px) {}
  
  @media (max-width: 768px) {
  
    .w3l-main-slider .banner-info-bg h4.sub-font {
      font-size: 16px;
      line-height: 24px;
    }
  
    .w3l-main-slider .banner-view {
      min-height: 400px;
    }
  
    .w3l-main-slider .banner-info {
      max-width: 500px;
      padding: 0 20px;
    }
  }
  
  @media (max-width:600px) {
  
    .w3l-main-slider .banner-view {
      min-height: 360px;
    }
  
    .w3l-main-slider .banner-info {
      max-width: 500px;
      padding: 0 20px;
    }
  
    .w3l-main-slider .banner-info h3 {
      font-size: 26px;
    }
  
    .w3l-main-slider .banner-info p {
      margin: 10px 0 30px 0;
      font-size: 13px;
    }
  
    .w3l-main-slider .over-para {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .w3l-main-slider .banner-info h3 {
      font-size: 26px;
    }
  
    .w3l-main-slider .play-view1 h6 {
      display: none;
    }
  
    .w3l-main-slider .banner-view {
      min-height: 340px;
    }
  }
  
  @media (max-width: 384px) {
    .w3l-main-slider .banner-info h3 {
      font-size: 24px;
    }
  
    .w3l-main-slider .banner-view {
      min-height: 300px;
    }
  }
  
  @media (max-width:380px) {
    .w3l-main-slider .banner-info h3 {
      font-size: 22px;
    }
  }

  .position-relative {
    position: relative !important;
  }
  



 iframe {
    border: none;
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
  }