.app {
  background: #ffffff;
  height: 100vh;
  padding: 30px;
}
.calendar-div {
  min-height: 680px;
  min-width: 550px;
  background-color: #fff;
  margin: 4px;
  padding: 4px;
}

.rbc-calendar {
  min-height: 580px;
}
.todo-list {
  background: #e8e8e8;
  border-radius: 8px;
  max-width: 410px;
  padding: 25px;
  padding-left: 50px;
  width: 380px;
  height: fit-content;
  display: block;
}
.add-btn-material {
  margin: 10px;
  margin-left: 25px;
  align: center;
  width: 200px;
  color: rgb(70, 70, 70);
  border-radius: 20px;
  border-color: rgb(60, 143, 199);
}
.priority {
  margin: 6px;
  padding: 2px;
  height: 50px;
  width: 5px;
  border-radius: 5px;
}

.todo {
  width: 250px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  margin: 3px;
  margin-bottom: 13px;
  padding: 6px 6px;
  overflow-y: auto;
  cursor: pointer;
  cursor: hand;
}

.btn {
  float: right;
}

.deadline {
  font-size: 0.7rem;
  display: block;
  margin: 3px;
  font-weight: bold;
  color: rgb(60, 143, 199);
}

.task-btn {
  margin-top: -22px;
  padding-left: 33px;
  padding-top: -3px;
  padding-bottom: 3px;
  padding-right: 3px;
  position: relative;
  /* max-width: 80px; */
  /* margin-left: 50px; */
  /* padding: 3px; */
  font-size: 1.2rem;
  flex: right;
  display: flex;
}

.task-name {
  /* padding-left: 4px; */
  /* padding-right: 4px; */
  font-weight: bold;
  font-size: 15px;
  margin: 3px;
  padding: 3px;
  border: none;
  flex: left;
  display: flex;
  color: rgb(70, 69, 69);
}

#deadline-div {
  display: flex;
  align-items: left;
  position: relative;
  float: left;
}

#mark-complete {
  margin-left: 4px;
  /* margin-right: 12px; */
}

#remove-task {
  margin-left: 15px;
  margin-right: 4px;
}


/* width */

::-webkit-scrollbar {
  width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll {
  display: block;
  border: 0px solid red;
  margin-top: 5px;
  width: 300px;
  height: 500px;
  overflow-y: scroll;
}